<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/imgpsh_fullsize_anim.png"
  />
  <span>Welcome to Reality Engine</span>
    
    
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  
  <div class="container text-center">
    <div class="form-group">
      <label for="usr"></label>
      <input type="text" #titleInput placeholder="Put your statement here" class="form-control input-lg">
    </div>
    <div>
      <button type="button" (click)="showText(titleInput.value)" class="btn btn-primary">Search!</button> 
    </div>
  </div>
  

  <router-outlet></router-outlet>
  


